#upload{
    margin-top: 20px;
    margin-bottom: 40px;
}

.button{
    width: 150px;
    background-color:  #ffffb3;
    height: 30px;
    margin-left: 5px;
}

#upload{
    background-color: #B0C4DE;
}

#gerencia{
    width: 100%;
    background-color: dodgerblue;
    height: 850px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;

}

h5{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 30px;
    width: 40%;
    padding: 5px 0px ;
    border-radius: 5px;
}

#btn-gerar{
    margin-top: 20px;
}

.info2{
    padding: 10px 10px 10px 0px;
}

#hora{
    width: 10%;
}
.info2 select{
    width: 20%;
    display: inline;
    margin: 10px 10px 10px 10px;
}

table{
    margin-top: 20px;
    width: 100%;
}

#div-duracao{
    height: 100px;
    background-color: #e78e3b;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
      
    display: inline;
}
#relatorio{
    width: 100%;
    margin: auto;
    border: 2px;
    background-color: white;
    border-radius: 5px;

}

#filtro1{
    background-color: #DCDCDC;
    padding: 10px;
    height: 350px;
    border-radius: 5px;
}

#filtro1 h5{
    text-align: center;
}
#pesquisa{

    margin: 15px 40%;
}
#btnTbl{
    margin: auto;
    height: 30px;
}

#btnTbl button{
    margin-left: 10px;
    display: inline;

}

#btn-configurar{
    border: none;
    background-color: dodgerblue;

}
#btn-img{
    width: 50px;
    padding-top: 18px;
    margin-left: 20px;
}

#btn-configurar :hover{
    background-color: white;
    border-radius: 30px;
    margin-left: 18px;
    padding-top: 0px;
    width: 75px;
    margin-top: 20px;
}


